@import '~@design';
@import '~highlight.js/scss/github-gist';

.page-docs {
  &__container {
    display: block;

    @include respond-to('medium') {
      display: flex;
    }
  }

  &__side-nav {
    display: none;

    @include respond-to('medium') {
      display: block;
      flex: 0 0 auto;
      width: 250px;
    }
  }

  &__content {
    @include respond-to('medium') {
      flex: 1 1 auto;
    }
  }
}
