@import '~@design';

.company-info {
  &__container {
    @include respond-to('medium') {
      display: flex;
    }
  }

  &__brand {
    margin-bottom: size(5);

    @include respond-to('medium') {
      flex: 0 0 auto;
      width: size(50);
      margin-right: size(5);
    }
  }

  &__logo {
    max-width: 100%;
    height: auto;
  }

  &__content {
    text-align: justify;

    @include respond-to('medium') {
      flex: 1 1 auto;
      width: 100%;
    }

    p {
      margin: 0;

      + p {
        margin-top: size(5);
      }
    }
  }
}
