@import '~@design';

.section {
  &__header {
    margin-bottom: size(4);
  }

  &__title {
    margin: 0;
    font-size: $font-size-large;
    font-weight: 500;
    color: $color-gray-800;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
