@import '~@design';

.side-nav {
  position: sticky;
  top: size(2);
  width: 250px;
  padding: 0 0 0 size(10);
  font-size: 16px;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    &--inner {
      margin-left: size(2);
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-bottom: size(1);
    color: $color-gray-700;
    text-decoration: none;
    transition: color 250ms ease-in-out;

    &:after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      content: '';
      background-color: $color-green-500;
      transition: transform 250ms ease-in-out;
      transform: scaleX(0);
      transform-origin: left;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color-black;

      &:after {
        transform: scaleX(1);
      }
    }
  }
}
