@import '~@design';

.intro-wrapper {
  position: relative;
  z-index: 1;

  @include respond-to('x-large') {
    background: url('~@assets/Vuelendar-background.png') no-repeat 125% 100%;
    background-size: contain;
  }
}
.section-intro {
  padding: 0 size(3);

  @include respond-to('x-large') {
    width: 60%;
  }

  &__header {
    margin-bottom: size(12);
  }

  &__title {
    display: block;
    margin: 0;
    font-size: $font-size-huge;
    font-weight: 500;
    color: $color-gray-800;
  }

  &__subtitle {
    font-size: $font-size-xlarge;
    font-weight: 400;
    color: $color-gray-800;
  }

  &__table {
    @include respond-to('medium') {
      width: 70%;
      margin: 0 auto;
    }

    @include respond-to('x-large') {
      width: 100%;
    }
  }

  &__actions {
    padding: 0;
    margin-bottom: size(4);
    list-style: none;

    @include respond-to('smaller') {
      margin-bottom: size(36);
    }

    @include respond-to('small') {
      display: flex;
    }
  }

  &__action {
    & + & {
      margin-top: size(2);

      @include respond-to('small') {
        margin-top: 0;
        margin-left: size(5);
      }
    }
  }
}
