@import '~@design';

.contributor {
  display: block;

  &__avatar {
    display: block;
    width: size(15);
    height: size(15);
    margin: 0 auto;
    border-radius: size(15);
  }

  &__content {
    position: relative;
    z-index: 1;
    background-color: rgba($color-white, 0.5);
  }

  &__name {
    text-align: center;
  }
}
