@import '~@design';
@import '~highlight.js/scss/github-gist';

.page-docs {
  &__container {
    display: flex;
  }

  &__side-nav {
    flex: 0 0 auto;
    width: 250px;
  }

  &__content {
    flex: 1 1 auto;
  }
}

.pane {
  display: block;
  padding: size(4) size(2);
  margin-bottom: size(3);
  box-shadow: 0 size(2) size(3) size(-2) rgba($color-black, 0.2);
}
