@import '~@design';
@import '~highlight.js/scss/github-gist';

.page-docs {
  &__container {
    display: flex;
  }

  &__side-nav {
    flex: 0 0 auto;
    width: 250px;
  }

  &__content {
    flex: 1 1 auto;
  }
}
