@import '~@design';

.page-section {
  width: 100%;

  &__inner {
    @for $i from 1 through 12 {
      &--size-#{$i} {
        width: columnsize($i);
      }

      &--offset-#{$i} {
        margin-left: columnsize($i);
      }
    }
  }
}
