@import '~@design';

$usedBreakpoints: ('medium');

.page-section {
  width: 100%;

  &__inner {
    @each $cb in $usedBreakpoints {
      @for $i from 1 through 12 {
        @include respond-to($cb) {
          &--size-#{$cb}-#{$i} {
            width: column-size($i);
          }

          &--offset-#{$cb}-#{$i} {
            margin-left: column-size($i);
          }
        }
      }
    }
  }
}
