@import '~@design';

.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__desktop {
    display: none;

    @include respond-to('medium') {
      display: block;
    }
  }

  &__mobile {
    @include respond-to('medium') {
      display: none;
    }
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: size(10);
    height: size(10);
    padding: 0;
    background-color: $color-white;
    border: 1px solid $color-green-500;

    span {
      display: block;
      width: size(6);
      height: 1px;
      margin: 3px 0;
      background-color: $color-black;
    }
  }
}
