@import '~@design';

.container {
  width: 100%;
  padding: 0 size(3);

  @include respond-to('smaller') {
    width: $breakpoint-smaller;
    margin: 0 auto;
  }

  @include respond-to('medium') {
    width: $breakpoint-medium;

    &--inner {
      width: #{$breakpoint-medium - 250px};
    }
  }

  @include respond-to('large') {
    width: $breakpoint-large;

    &--inner {
      width: #{$breakpoint-large - 250px};
    }
  }

  @include respond-to('x-large') {
    width: $breakpoint-x-large;

    &--inner {
      width: #{$breakpoint-x-large - 250px};
    }
  }
}
