@import '~@design';

.perks-table {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: $color-white;
  border-radius: size(4);
  box-shadow: 0 size(6) size(4) size(-1) rgba(0, 0, 0, 0.3);

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: size(56);
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    transform: translateY(size(5));

    @include respond-to('small-max') {
      border-top: 1px solid $color-gray-100;

      &:first-child {
        border-top: none;
      }
    }

    @include respond-to('small') {
      width: 50%;

      &:nth-child(n + 3) {
        border-top: 1px solid $color-gray-100;
      }

      &:nth-child(even) {
        border-left: 1px solid $color-gray-100;
      }
    }

    &.in-viewport {
      opacity: 1;
    }
  }

  &__icon {
    margin-bottom: size(10);

    svg {
      width: auto;
      height: size(17);
      fill: $color-gray-700;
    }
  }

  &__caption {
    font-size: $font-size-large;
    color: $color-black;

    &--mark {
      color: $color-green-500;
    }
  }
}
