@import '~@design';

.perks-table {
  display: flex;
  flex-wrap: wrap;
  background: $color-white;
  border-radius: size(2);
  box-shadow: 0 30px 20px -10px rgba(0, 0, 0, 0.2);

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: size(56);

    &:nth-child(n + 3) {
      border-top: 1px solid $color-gray-100;
    }

    &:nth-child(even) {
      border-left: 1px solid $color-gray-100;
    }
  }

  &__icon {
    margin-bottom: size(10);

    svg {
      width: auto;
      height: size(17);
      fill: $color-gray-700;
    }
  }

  &__caption {
    font-size: 30px;
    color: $color-black;

    &--mark {
      color: $color-green-500;
    }
  }
}
